<%= form_with(model: @post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <th><%= f.label :title ,"タイトル" %></th>
    <td><%= f.text_field :title %></td>
    <th><%= f.label :url ,"URL" %></th>
    <td><%= f.text_field :url %></td>
    <th><%= f.label :comment ,"コメント" %></th>
    <td><%= f.text_area :comment %></td>
    <th><%= f.label :tag_list ,"タグ" %></th>
    <td><%= f.text_field :tag_list, value: @post.tag_list.join(',') %></td>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
